ul{
    list-style-type: disc;
   /* list-style-position:inside ou outside;*/
    padding-left: 0;
}

li{
    display: inline-block;
}

div{
    background-color: burlywood;
    width: 200px;
    height: 200px;
    margin: 50px;
    display: inline-block;
}

.caixa {
   
    /*border-color: blueviolet;*/
    /*border: 5px solid blueviolet;*/
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(71, 71, 71, 0.493);
}
.caixa2 {
    border: 5px double blueviolet;
    border-radius: 10px 15px;
}
.caixa3 {
    border: 5px solid blueviolet;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}