/* General */

body{
    margin: 
}

p{
    font-size: 
}

/* Estilos Tipográficos -------------*/

.classequalquer {
    font-size: ;
}
p.classe {
    font-size: ;
    color: ;
}

/*  Header - Cabeça*/

.nav {
    /*estilos*/
}

.logo {
    /*estilos*/
}


/*  Estrutura*/

.container{

}

/*Rodapé - footer*/

.footer{

}

/*  Páginas */
.contato{

}

.produto{
    
}